**/node_modules
**/dist
**/.env
backend/dist
signer/dist
ubot/dist
utradebot/dist
signer/node_modules
ubot/node_modules
utradebot/node_modules
webapp/node_modules
contracts/output
signer/sessions
ubot/sessions
utradebot/sessions
*.log
.git
.DS_Store
Thumbs.db
.env
*.env
!*.env.example
